<nav> 
   <img class="logo" src="/static/images/logo.jpg" alt="">
        <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/about">Nosotros</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
 </nav>