<h2>Registro</h2>

<form action="/users/register" method="post">
Nombre: <input type="text" name="firstname">
Apellido: <input type="text" name="lastname">
Edad: <input type="number" name="age">
Email: <input type="text" name="mail">
Teléfono: <input type="number" name="phone">
<input type="submit" value="Registrarme">
</form>